.cal{
  width: 360px
  padding: 10% 0 0;
  margin: auto;
}

.form{
  position: relative;
  z-index: 1;
  background-color: #000;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border: 2px;
  border-radius: 12px;
  }

.display{
  font-family: "Roboto",sans-serif;
  outline: 1;
  background:#f2f2f2;
  text-align: right;
  width: 100%;
  border:0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
}

.btn{
  font-family: "Roboto",sans-serif;
  outline: 0;
  background-color: #000;
  padding: 30px 30px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  border:black;
}

.btn:hover,.btn:active{
  background: #45567d;
}

.btnO{
  font-family: "Roboto",sans-serif;
  /*text-transform: uppercase;*/
  outline: 0;
  background-color: #000;
  padding: 20px 20px;
  color: #34cdeb;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  border:black;
}

.btnO:hover,.btnO:active{
  background: #45567d;
}
.btn1{
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #000;
  padding: 20px 20px;
  color: #fffaad;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  border:black;
}

.btn1:hover,.btn1:active{
  background: #45567d;
}
.btn2{
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #000;
  padding: 12px 12px;
  color: #34cdeb;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  border:black;
}

.btn2:hover,.btn2:active{
  background: #45567d;
}
.form .message{
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 12px;
}
.cal-o{
  display: none;
}